/* Variables */
:root {
  --particles: 50;
  --width: 500;
  --height: 500;
}

/* Create the explosion... */
.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff; /* Default value for box-shadow2 */
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  animation-delay: 1.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

/* Keyframes */
@keyframes bang {
  to {
    box-shadow: 0; /* Default value for box-shadow */
  }
}

@keyframes gravity {
  to {
    transform: translateY(200px);
    opacity: 0;
  }
}

@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

/* Body Styles */
body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden;
}
